*.bam filter=lfs diff=lfs merge=lfs -text
*.bai filter=lfs diff=lfs merge=lfs -text
test_data/*.bam filter=lfs diff=lfs merge=lfs -text
test_data/*.bai filter=lfs diff=lfs merge=lfs -text
test_data/*.vcf.gz filter=lfs diff=lfs merge=lfs -text
test_data/*.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
test_data/*.gtf filter=lfs diff=lfs merge=lfs -text
test_data/**/*.mtx filter=lfs diff=lfs merge=lfs -text
test_data/**/*.mtx.gz filter=lfs diff=lfs merge=lfs -text
test_data/**/*.tsv filter=lfs diff=lfs merge=lfs -text
test_data/**/*.tsv.gz filter=lfs diff=lfs merge=lfs -text
test_data/**/*.csv filter=lfs diff=lfs merge=lfs -text
test_data/**/*.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/genes.gtf filter=lfs diff=lfs merge=lfs -text
